.sprite {
  display: inline-block;
  background: url('spritesheet.png') no-repeat;
  width: 144px;
  height: 121px;
}
.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -144px -0px; }
.sprite-2 { background-position: -288px -0px; }
.sprite-3 { background-position: -432px -0px; }
.sprite-4 { background-position: -576px -0px; }
.sprite-5 { background-position: -720px -0px; }
.sprite-6 { background-position: -864px -0px; }
.sprite-7 { background-position: -1008px -0px; }
.sprite-8 { background-position: -1152px -0px; }
.sprite-9 { background-position: -1296px -0px; }
.sprite-10 { background-position: -1440px -0px; }
.sprite-11 { background-position: -1584px -0px; }
.sprite-12 { background-position: -1728px -0px; }
.sprite-13 { background-position: -1872px -0px; }