.sprite {
  display: inline-block;
  background: url('spritesheet.png') no-repeat;
  width: 166px;
  height: 139px;
}
.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -166px -0px; }
.sprite-2 { background-position: -332px -0px; }
.sprite-3 { background-position: -498px -0px; }
.sprite-4 { background-position: -664px -0px; }