.sprite {
  display: inline-block;
  background: url('spritesheet.png') no-repeat;
  width: 145px;
  height: 144px;
}
.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -145px -0px; }
.sprite-2 { background-position: -290px -0px; }
.sprite-3 { background-position: -435px -0px; }
.sprite-4 { background-position: -580px -0px; }
.sprite-5 { background-position: -725px -0px; }