.sprite {
  display: inline-block;
  background: url('spritesheet.png') no-repeat;
  width: 61px;
  height: 118px;
}
.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -61px -0px; }
.sprite-2 { background-position: -122px -0px; }
.sprite-3 { background-position: -183px -0px; }