.sprite {
  display: inline-block;
  background: url('spritesheet.png') no-repeat;
  width: 133px;
  height: 68px;
}
.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -133px -0px; }
.sprite-2 { background-position: -266px -0px; }
.sprite-3 { background-position: -399px -0px; }
.sprite-4 { background-position: -532px -0px; }
.sprite-5 { background-position: -665px -0px; }
.sprite-6 { background-position: -798px -0px; }
.sprite-7 { background-position: -931px -0px; }
.sprite-8 { background-position: -1064px -0px; }
.sprite-9 { background-position: -1197px -0px; }
.sprite-10 { background-position: -1330px -0px; }
.sprite-11 { background-position: -1463px -0px; }